{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <title>finance</title>
    <link href="{% static "stylesheets/style.css" %}" type="text/css" rel="stylesheet"></link>
  </head>
  <body>
    <h1><center><u>hi {{Name}}, Welcome to Finance template</u></center></h1>
    <font face="impact" size="20">This is Fee Collection Template</font>
    <img src="{% static "images/nicelogo.jpg" %}" alt="Image Not Found" />
    <h3 style="color:red">Your Age is {{Age}}</h3>
    <h3>Your Address is {{Address}}</h3>
  </body>

</html>
